@charset "UTF-8";
.container, .slick__slider__container, .footer__container, .land__container, .care__container, .about__container, .header__container {
  max-width: 1062px;
  margin: 0px auto;
  width: 90%;
}

h1, h2, h3 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

#politics {
  width: 14px;
  height: 14px;
}

.care__button__first:hover .care__nav {
  display: block;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.show {
  display: block;
}

li::before {
  content: "• ";
  color: red; /* or whatever color you prefer */
}

.header {
  background-color: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, rgba(37, 73, 31, 0.31), rgba(37, 73, 31, 0.31));
  background-image: url("../img/header_background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 86px;
       column-gap: 86px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.header__content-margin {
  padding-top: 16px;
  padding-bottom: 19px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.header__right_content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFDF9E;
}
.header__right_content-top {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.header__right_content-bottom {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.header__right_content-padding {
  padding-top: 8px;
}
.header__telefhone {
  max-width: 8px;
  max-height: 8.89px;
  background: linear-gradient(0deg, #FFDF9E, #FFDF9E);
}
.header__title {
  max-width: 267px;
  max-height: 204px;
}
.header__application {
  display: flex;
  justify-content: space-between;
}
.header__application-left-heading {
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  max-width: 438px;
  padding-bottom: 47px;
}
.header__application-left-title-padding {
  padding-left: 43px;
}
.header__application-left-button-span {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFDF9E;
}
.header__application-left-button-padding {
  padding-bottom: 100px;
}
.header__application-left-button-text {
  border-radius: 5px;
  padding-top: 21px;
  padding-bottom: 21px;
  opacity: 0.53;
  min-width: 340px;
  min-height: 60.4px;
  background-color: #FF7E35;
  border: 2px solid rgb(255, 126, 53);
}
.header__application-right {
  display: flex;
  align-items: center;
}
.header__application-right-image {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.header__location {
  max-width: 12.18px;
  max-height: 12.18px;
}
.header_inst {
  max-width: 28.14px;
  max-height: 28.1px;
}
.header_viber {
  max-width: 26.66px;
  max-height: 26.62px;
}
.header_sms {
  max-width: 28.14px;
  max-height: 28.1px;
}
.header_wrapper {
  background-color: rgba(37, 73, 31, 0.31);
}
.header__bottom {
  display: flex;
  justify-content: center;
  background-color: rgba(33, 26, 21, 0.87);
  position: relative;
  top: 36px;
  align-items: end;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.header__bottom__image {
  display: none;
}
.header__bottom-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  row-gap: 5.25px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 223, 158);
}
.header__bottom-first {
  max-width: 45px;
  max-height: 57.75px;
  position: relative;
  top: 5px;
}
.header__bottom-second {
  max-width: 41px;
  max-height: 41px;
  position: relative;
  top: -5px;
}
.header__bottom-third {
  max-width: 80px;
  max-height: 80px;
  position: relative;
  top: 5px;
}
.header__burger-menu {
  display: none;
}

.about__padding {
  padding-top: 60px;
  padding-bottom: 41px;
}
.about__centre {
  display: flex;
  justify-content: center;
}
.about__title {
  position: absolute;
  bottom: 45px;
  left: 40%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #3D2220;
  z-index: 20;
}
.about__text {
  position: relative;
  background-color: rgba(87, 82, 73, 0.98);
}
.about__text__span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  color: #FFDF9E;
  display: flex;
  flex-direction: column;
  max-width: 979px;
}
.about__text__span__start {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgb(255, 223, 158);
}
.about__text__span__middle {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  color: #FFDF9E;
}
.about__text__span__padding {
  padding-left: 33px;
  padding-bottom: 23px;
  padding-right: 30px;
}
.about__text__title {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 223, 158);
}
.about__text__title__padding {
  padding-top: 20.16px;
  padding-left: 33px;
  padding-bottom: 15.23px;
}
.about__right__absolute {
  position: absolute;
  max-width: 267px;
  max-height: 299px;
  right: 0;
  bottom: 10px;
}
.about__project__block {
  display: flex;
  flex-direction: row;
  align-items: end;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.about__project__padding {
  padding-top: 38.94px;
  padding-bottom: 38.94px;
}
.about__project__block_left {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(52, 100, 44);
}
.about__project__block_right {
  display: flex;
  align-items: center;
}
.about__project__block_right img {
  width: 100%;
}
.about__absolute {
  max-width: 229px;
  max-height: 373px;
  position: absolute;
  margin-top: 183px;
}
.about__foto {
  display: flex;
}
.about__foto__padding {
  padding-bottom: 80px;
}
.about__foto_right {
  position: relative;
  top: 4px;
  width: 50%;
  max-width: 525px;
}
.about__foto_left {
  position: relative;
  width: 50%;
  max-width: 519px;
}
.about__foto_left_image {
  max-width: 530px;
  max-height: 608px;
  position: relative;
}
.about__foto_right_image_1 {
  min-width: 525px;
  max-height: 259px;
  z-index: 1;
}
.about__foto_right_image_2 {
  min-width: 525px;
  max-height: 338px;
  z-index: 1;
}
.about__foto_left_text {
  position: absolute;
  bottom: 28px;
  left: 3%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 239, 227, 0.58);
  color: rgb(61, 34, 32);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 14.39px;
  width: 92%;
}
.about__foto_left_text_extra {
  position: absolute;
  bottom: 428px;
  left: 3%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 239, 227, 0.58);
  color: rgb(61, 34, 32);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 14.39px;
  width: 92%;
}
.about__foto__first {
  position: relative;
}
.about__foto__span {
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 90%;
  height: 10%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  background-color: rgba(255, 239, 227, 0.63);
}
.about__foto__wrapper {
  background-color: rgba(255, 239, 227, 0.63);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.about__foto__text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.about__foto_bg_1 {
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  width: 91.1%;
  background-color: rgba(255, 239, 227, 0.62);
  z-index: 20;
  position: absolute;
  bottom: 25px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  padding-top: 19.54px;
  padding-bottom: 19.54px;
}
.about__foto_bg_2 {
  left: 0;
  right: 0;
  top: auto;
  padding-top: 19.54px;
  padding-bottom: 19.54px;
  width: 91.4%;
  background-color: rgba(255, 239, 227, 0.62);
  z-index: 20;
  position: absolute;
  bottom: 38px;
  display: flex;
  justify-content: center;
  margin-left: 18px;
}
.about__project__resolution {
  display: none;
}

.care {
  background-size: 100% 100%;
  background-image: url("../img/care__background.png");
  background-repeat: no-repeat;
}
.care__margin {
  padding-bottom: 90px;
}
.care__content {
  display: flex;
  align-items: end;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.care__content__resolution {
  display: none;
}
.care__content__left h2 {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 223, 158);
}
.care__content__image {
  max-width: 891px;
  width: 100%;
}
.care__content__padding {
  padding-top: 42px;
  padding-bottom: 47.16px;
}
.care__padding {
  padding-bottom: 40px;
}
.care__text {
  background-color: rgba(57, 54, 47, 0.8);
  border-radius: 5px;
  padding: 22px 16px 27px 18px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  color: rgb(255, 223, 158);
}
.care__block {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.care__button {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.care__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 318px;
  min-height: 64px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.care__button button:hover {
  background-color: rgba(255, 239, 227, 0.83);
  border: 2px solid #FF7E35;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-right: 15px solid #FF7E35;
}
.care__button__padding {
  padding-top: 42px;
  padding-left: 20px;
  padding-bottom: 42.26px;
}
.care__sub-text {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  line-height: 17.6px;
  letter-spacing: 0.06em;
}
.care__sub-text span span {
  line-height: 16.41px;
  letter-spacing: 0.06em;
  max-width: 1000px;
}
.care__sub-text__padding {
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 42px;
}
.care__nav {
  display: none;
}
.care__block__flex {
  display: flex;
}
.care__block__right__padding {
  display: flex;
  padding-top: 75px;
  padding-left: 23px;
}
.care__block__right {
  display: none;
}
.care__style {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
}
.care__style li {
  max-width: 681px;
}

.land__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: end;
}
.land__content__padding {
  padding-top: 64px;
  padding-bottom: 46.04px;
}
.land__title {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(52, 100, 44);
}
.land__text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  line-height: 20px;
  color: rgb(255, 223, 158);
  background-color: #5A554D;
  border-radius: 5px;
  padding: 19px 19px 30px 26px;
}
.land__text__padding {
  margin-bottom: 45px;
}
.land__block {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  flex-wrap: wrap;
}
.land__block__extra {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  align-items: center;
}
.land__block__extra__padding {
  padding-bottom: 79px;
}
.land__block__extra span {
  position: relative;
  right: 80px;
}
.land__block__image {
  max-width: 340px;
  max-height: 189px;
}
.land__block__content {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.land__block__content__padding {
  padding-bottom: 25px;
}
.land__rev__image {
  max-width: 77px;
  max-height: 77px;
}
.land__rev__block {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.land__rev__block__padding {
  padding-bottom: 79px;
}
.land__rev__block__flex {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  align-items: center;
}
.land__rev__block__flex span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
}
.land__rev__block__flex span + span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgb(52, 100, 44);
  max-width: 410px;
  line-height: 16.41px;
}
.land__rev__content {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 13px;
  color: rgb(52, 100, 44);
}
.land__rev__content__padding {
  padding-bottom: 59px;
}
.land__right img {
  width: 100%;
}
.land__right__resolution {
  display: none;
}
.land__rev__resolution {
  display: none;
}
.land__block__content__extra {
  display: none;
}
.land__slider {
  display: none;
}
.land__slider__image {
  max-width: 51px;
  max-height: 51px;
}
.land__slider__block {
  padding-top: 10px;
  padding-left: 9px;
  padding-right: 6px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 100%;
  height: 192px;
  background-color: rgba(239, 239, 239, 0.61);
}
.land__slider__block__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 29px;
       column-gap: 29px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}
.land__slider__block__bottom {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  color: #000000;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.land__slider__block__bottom__style {
  color: #34642C;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}
.land__slider__bg {
  display: none;
}

.footer {
  background-image: url("../img/footer__background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer__extra {
  row-gap: 46px;
}
.footer__content {
  display: flex;
  row-gap: 33px;
  flex-direction: column;
}
.footer__content__image {
  display: flex;
  -moz-column-gap: 32.63px;
       column-gap: 32.63px;
}
.footer__content__extra {
  display: flex;
  justify-content: end;
}
.footer__content__icons {
  display: flex;
  flex-direction: column;
}
.footer__content__title {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
}
.footer__content__padding {
  padding-top: 60px;
  padding-bottom: 33px;
}
.footer__content__bottom {
  display: flex;
  justify-content: space-between;
  width: 89%;
}
.footer__content__bottom__padding {
  padding-bottom: 49px;
}
.footer__content__bottom__centre {
  display: flex;
  flex-direction: column;
}
.footer__content__bottom__right {
  -moz-column-gap: 13px;
       column-gap: 13px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  color: rgb(255, 255, 255);
}
.footer__text__style {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: justify;
  color: rgb(255, 255, 255);
}
.footer__text__icons {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
  align-items: center;
}
.footer__text__icons__extra {
  align-items: end;
}
.footer__text__number {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
}
.footer__image {
  max-width: 9px;
  max-height: 10px;
}
.footer__background {
  width: 100%;
}
.footer__block {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgb(90, 85, 77);
  padding-bottom: 28px;
  display: flex;
  justify-content: end;
  width: 85%;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

@media (max-width: 426px) {
  .header__bottom__image {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    bottom: -30px;
  }
}
@media (max-width: 1154px) {
  .header {
    background-size: 100% 100%;
  }
}
@media (max-width: 426px) {
  .header {
    background-image: url("../img/header__main_image.png");
    background-size: 100% 100%;
    position: relative;
  }
}
@media (max-width: 768px) {
  .header__flex {
    padding-bottom: 14px;
  }
}
@media (max-width: 1300px) {
  .header__bottom {
    top: 0px;
  }
}
@media (max-width: 768px) {
  .header__bottom {
    -moz-column-gap: 60px;
         column-gap: 60px;
    width: 100%;
  }
}
@media (max-width: 584px) {
  .header__bottom {
    display: none;
  }
}
@media (max-width: 375px) {
  .header__application-left-heading {
    font-size: 32px;
  }
}
@media (max-width: 425px) {
  .header__application-left-button-text {
    min-width: 160px;
  }
}
@media (max-width: 516px) {
  .header__application {
    flex-direction: column;
  }
}
@media (max-width: 516px) {
  .header__application-right {
    justify-content: center;
  }
}
@media (max-width: 516px) {
  .header__application-left-button-padding {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 516px) {
  .header__application-right-image {
    flex-direction: row;
    -moz-column-gap: 21px;
         column-gap: 21px;
    padding-bottom: 69px;
  }
}
@media (max-width: 426px) {
  .header__application-right-image {
    padding-bottom: 100px;
  }
}
@media (max-width: 1024px) {
  .header__content {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_button {
    position: absolute;
    z-index: 30;
    top: -4px;
    width: 54px;
    height: 54px;
    transition: 0.4s;
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_lines::before, .header__burger-menu_lines::after, .header__burger-menu_lines {
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: white;
    transition: 0.4s;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_lines::before {
    content: "";
    top: -6px;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_lines::after {
    content: "";
    top: 6px;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_active .header__burger-menu_lines {
    background-color: transparent;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_active .header__burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_active .header__burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 100%;
    background-color: rgba(36, 69, 30, 0.48);
    overflow-y: auto;
    left: -100%;
    transition: 0.8s;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_active .header__burger-menu_nav {
    left: 0;
    transition: 0.4s;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_link {
    padding: 18px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: white;
    border-bottom: 1px solid #fff;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_link:first-child {
    border-top: 1px solid #fff;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_link:hover {
    filter: brightness(0.9);
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
}
@media (max-width: 1024px) {
  .header__burger-menu_active .header__burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1439px) {
  .about__absolute {
    display: none;
  }
}
@media (max-width: 425px) {
  .about__text__none {
    display: none;
  }
}
@media (max-width: 425px) {
  .about__right__absolute {
    display: none;
  }
}
@media (max-width: 426px) {
  .about__project__resolution {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 426px) {
  .about__project__block_right {
    display: none;
  }
}
@media (max-width: 426px) {
  .about__project__block {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 9px;
  }
}

@media (max-width: 426px) {
  .care__block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 426px) {
  .care {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-image: none;
  }
}
@media (max-width: 426px) {
  .care__content__resolution {
    display: block;
  }
}
@media (max-width: 426px) {
  .care__content__right {
    display: none;
  }
}
@media (max-width: 426px) {
  .care__content {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 4px;
  }
}
@media (max-width: 426px) {
  .care__content__left h2 {
    color: #34642C;
  }
}
@media (max-width: 426px) {
  .care__button {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}
@media (max-width: 402px) {
  .care__button button {
    max-width: 270px;
  }
}
@media (max-width: 335px) {
  .care__button button {
    max-width: 235px;
  }
}

@media (max-width: 426px) {
  .land {
    background-image: none;
  }
}
@media (max-width: 426px) {
  .land__right {
    display: none;
  }
}
@media (max-width: 426px) {
  .land__right__resolution {
    display: block;
  }
}
@media (max-width: 426px) {
  .land__content {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 4px;
  }
}
@media (max-width: 620px) {
  .land__rev__block {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 321px) {
  .land__rev__block {
    display: none;
  }
}
@media (max-width: 426px) {
  .land__rev__display {
    display: none;
  }
}
@media (max-width: 426px) {
  .land__rev__resolution {
    display: block;
  }
}
@media (max-width: 426px) {
  .land__rev__content {
    row-gap: 4px;
  }
}
@media (max-width: 426px) {
  .land__block img {
    width: 265px;
    max-height: 101px;
  }
}
@media (max-width: 1178px) {
  .land__block__content__extra {
    display: flex;
  }
}
@media (max-width: 1178px) {
  .land__block__extra {
    display: none;
  }
}
@media (max-width: 321px) {
  .land__slider {
    position: relative;
  }
}
@media (max-width: 321px) {
  .land__slider__bg {
    display: block;
  }
  .land__slider__bg img {
    position: absolute;
    right: 0;
  }
}
@media (max-width: 321px) {
  .land__slider {
    display: flex;
  }
  .land__slider__image {
    width: 51px;
    height: 51px;
  }
  .land__slider__block {
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 6px;
    padding-bottom: 14px;
    min-width: 214px;
    max-height: 274px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    background-color: rgba(239, 239, 239, 0.61);
  }
}
@media (max-width: 321px) {
  .land__rev__content__padding {
    padding-bottom: 21px;
  }
}

@media (max-width: 739px) {
  .footer__content__bottom__centre {
    display: none;
  }
}
@media (max-width: 459px) {
  .footer__content__bottom {
    flex-direction: column;
    row-gap: 5px;
  }
}
@media (max-width: 459px) {
  .footer__text__style {
    display: none;
  }
}
@media (max-width: 461px) {
  .footer__content__title {
    font-size: 12px;
  }
}
@media (max-width: 641px) {
  .footer__content__extra {
    display: none;
  }
}
@media (max-width: 461px) {
  .footer__flex {
    flex-direction: column;
    row-gap: 12px;
  }
}

.slick__slider__padding {
  padding-top: 40px;
}
.slick__slider__block {
  flex-direction: column;
}
.slick__slider__block img {
  max-width: 250px;
  max-height: 200px;
}

@media (max-width: 426px) {
  .slick__slider__block {
    padding-left: 45px;
  }
}
@media (max-width: 1100px) {
  .slick__slider__block img {
    max-width: 218px;
  }
}
@media (max-width: 1020px) {
  .slick__slider__block .slick-arrow .slick-prev {
    left: 2%;
  }
}
@media (max-width: 1020px) {
  .slick__slider__block .slick-arrow {
    top: 45%;
  }
}/*# sourceMappingURL=style.css.map */